@inherits LayoutComponentBase
@using kargardoon.Data
@using kargardoon.Components.Shared

<div class="page">
    <div class="sidebar bg-light border-end p-3">
        <NavMenu />
    </div>

    <main class="overflow-auto">
        <Header />

        <article class="content px-4 py-3">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet class="alert alert-danger fixed-bottom m-0 rounded-0 text-center">
    <i class="bi bi-exclamation-triangle-fill me-1"></i>
    An unhandled error has occurred.
    <a href="." class="reload text-white text-decoration-underline ms-2">Reload</a>
    <span class="dismiss ms-3" role="button">🗙</span>
</div>
