@using kargardoon.Data

<div class="card hover-card shadow-sm h-100">
    <img src="@Product.ImageUrl"
         class="card-img-top"
         alt="@Product.Name"
         style="height:200px; object-fit:cover;" />

    <div class="card-body d-flex flex-column text-center">
        <h5 class="card-title mb-2">@Product.Name</h5>
        <p class="text-muted small mb-3">@Product.SpecialTag</p>
        <p class="h5 text-danger fw-bold mb-4">$@Product.Price</p>

        <!-- دکمه تمام عرض -->
        <button class="btn btn-success w-100 mt-auto">
            <i class="bi bi-cart-plus-fill me-1"></i>
            Add to Cart
        </button>
    </div>
</div>

@code {
    [Parameter] public Product Product { get; set; } = default!;
}
